@page
@model MyApp.Namespace.Index2Model
@{
<form method="post">
<input asp-for="Output1"/><p>Input 1</p> <br/>
<input asp-for="Output2"/><p>Input 2</p> <br/>
<input asp-for="Output3"/><p>Input 3</p> <br/>
<button>Click</button>
</form>
<script src="~/js/singnalr/dist/browser/signalr.js"></script>
<script src="/Pages/Index2.cshtml.cs"></script>

}
